body{
  width:100%;
  background: url("../images/canvas-bg.jpg") no-repeat;
}

#canvas {
  border: 1px solid coral;
  width: 800px;
  height: 800px;
  text-align: center;

}

footer #bottom-left-cloud{
  background: url("../images/bottom-left-cloud.png");
  border: 1px solid coral;
  width: 579px;
  height: 345px;
  position: fixed;
  bottom: 0;
  left: 0;
 
}

footer #bottom-right-cloud {
 background: url("../images/bottom-right-cloud.png");
  border: 1px solid coral;
  width: 350px;
  height: 107px;
  position: fixed;
  bottom: 0;
  right: 80px;
  z-index:9999;
}